extends layout

block content
  h1 Panel de Control - TechRetail
  .dashboard-grid
    .card
      h3 Usuarios
      p Total registrados: #{usuarios.length}
      a.btn(href="/usuarios/listar") Gestionar Usuarios
    .card
      h3 Transacciones
      p Ventas del día: #{transacciones.length}
      a.btn(href="/transacciones") Ver Ventas