doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD Usuarios
    link(rel="stylesheet", href="/styles.css")

  body
    header
      h1 Sistema CRUD Usuarios
      nav
        a(href="/usuarios") Inicio
        |  |
        a(href="/usuarios/nuevo") Nuevo usuario

    hr

    block content

    hr

    footer
      p Proyecto Node.js con JSON