doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TechRetail - Sistema de Gestión
    link(rel="stylesheet", href="/styles.css")

  body
    header
      h1 TechRetail
      nav
        a(href="/") Inicio
        |  |
        a(href="/usuarios/listar") Usuarios
        |  |
        a(href="/transacciones") Transacciones
        |  |
        a(href="/tiendas") Tiendas

    hr
    
    main
      block content

    hr

    footer
      p Proyecto Node.js con JSON